*.db
*.cache
*.iobj
*.ipdb
*.ilk
*.pdb
*.tmp
*.iml
*.mp4
*.pri
local.properties
*.exe
viry3d.lib
build
.vs
.gradle
.idea
Debug
Release
unity/Library
unity/Temp
export out
export out.meta
.DS_Store
xcuserdata